[[outputs.influxdb]]
  urls = ["http://{{ hostvars[groups['monitoring_server'][0]].inventory_hostname }}:8086"]
  skip_database_creation = true
  database = "{{ INFLUXDB_DB_NAME }}"
  username = "{{ INFLUXDB_USERNAME }}"
  password = "{{ INFLUXDB_PASSWORD }}"

# Read metrics about cpu usage
[[inputs.cpu]]
  ## Whether to report per-cpu stats or not
  percpu = true
  ## Whether to report total system cpu stats or not
  totalcpu = true
  ## Comment this line if you want the raw CPU time metrics
  fielddrop = ["time_*"]


# Read metrics about disk usage by mount point
[[inputs.disk]]
  ## By default, telegraf gather stats for all mountpoints.
  ## Setting mountpoints will restrict the stats to the specified mountpoints.
  # mount_points = ["/"]

  ## Ignore some mountpoints by filesystem type. For example (dev)tmpfs (usually
  ## present on /run, /var/run, /dev/shm or /dev).
  ignore_fs = ["dev", "run", "shm", "gpfs", "proc", "udev", "tmpfs", "autofs", "devpts", "devtmpfs", "overlay", "squashfs", "vfat"]


# Read metrics about disk IO by device
[[inputs.diskio]]
  ## By default, telegraf will gather stats for all devices including
  ## disk partitions.
  ## Setting devices will restrict the stats to the specified devices.
  # devices = ["sda", "sdb"]
  ## Uncomment the following line if you need disk serial numbers.
  # skip_serial_number = false


# Get kernel statistics from /proc/stat
[[inputs.kernel]]
  # no configuration


# Read metrics about memory usage
[[inputs.mem]]
  # no configuration


# Get the number of processes and group them by status
[[inputs.processes]]
  # no configuration


# Read metrics about swap memory usage
[[inputs.swap]]
  # no configuration


# Read metrics about system load & uptime
[[inputs.system]]
  # no configuration

# Read metrics about network interface usage
[[inputs.net]]
  # collect data only about specific interfaces
  # interfaces = ["eth0"]

[[inputs.nstat]]
  # no configuration

[[inputs.conntrack]]
  # no configuration

[[inputs.netstat]]
  # no configuration

[[inputs.interrupts]]
  # no configuration

[[inputs.linux_sysctl_fs]]
  # no configuration

[[inputs.internal]]
  # no configuration

[[inputs.exec]]
  ## Commands array
  commands = ["{{ freeton_node_scripts }}/ton-node-diff.sh"]

  ## override the default metric name of "exec"
  name_override = "ton-node-diff"

  ## Data format to consume.
  ## Each data format has its own unique set of configuration options, read
  ## more about them here:
  ##   https://github.com/influxdata/telegraf/blob/master/docs/DATA_FORMATS_INPUT.md
  data_format = "value"
  data_type = "integer" # required

[[inputs.exec]]
  ## Commands array
  commands = ["{{ freeton_node_scripts }}/ton-election-state.sh"]

  ## override the default metric name of "exec"
  name_override = "ton-election-state"

  ## Data format to consume.
  ## Each data format has its own unique set of configuration options, read
  ## more about them here:
  ##   https://github.com/influxdata/telegraf/blob/master/docs/DATA_FORMATS_INPUT.md
  data_format = "value"
  data_type = "string" # required

[[inputs.exec]]
  ## Commands array
  commands = ["{{ freeton_node_scripts }}/ton-election-date-start.sh"]

  ## override the default metric name of "exec"
  name_override = "ton-election-date-start"

  ## Data format to consume.
  ## Each data format has its own unique set of configuration options, read
  ## more about them here:
  ##   https://github.com/influxdata/telegraf/blob/master/docs/DATA_FORMATS_INPUT.md
  data_format = "value"
  data_type = "integer" # required

[[inputs.exec]]
  ## Commands array
  commands = ["{{ freeton_node_scripts }}/ton-election-date-end.sh"]

  ## override the default metric name of "exec"
  name_override = "ton-election-date-end"

  ## Data format to consume.
  ## Each data format has its own unique set of configuration options, read
  ## more about them here:
  ##   https://github.com/influxdata/telegraf/blob/master/docs/DATA_FORMATS_INPUT.md
  data_format = "value"
  data_type = "integer" # required

[[inputs.exec]]
  ## Commands array
  commands = ["{{ freeton_node_scripts }}/ton-depool-balance.sh"]

  ## override the default metric name of "exec"
  name_override = "ton-depool-balance"

  ## Data format to consume.
  ## Each data format has its own unique set of configuration options, read
  ## more about them here:
  ##   https://github.com/influxdata/telegraf/blob/master/docs/DATA_FORMATS_INPUT.md
  data_format = "value"
  data_type = "long" # required

[[inputs.exec]]
  ## Commands array
  commands = ["{{ freeton_node_scripts }}/ton-depool-proxy-1-balance.sh"]

  ## override the default metric name of "exec"
  name_override = "ton-depool-proxy-1-balance"

  ## Data format to consume.
  ## Each data format has its own unique set of configuration options, read
  ## more about them here:
  ##   https://github.com/influxdata/telegraf/blob/master/docs/DATA_FORMATS_INPUT.md
  data_format = "value"
  data_type = "long" # required

[[inputs.exec]]
  ## Commands array
  commands = ["{{ freeton_node_scripts }}/ton-depool-proxy-2-balance.sh"]

  ## override the default metric name of "exec"
  name_override = "ton-depool-proxy-2-balance"

  ## Data format to consume.
  ## Each data format has its own unique set of configuration options, read
  ## more about them here:
  ##   https://github.com/influxdata/telegraf/blob/master/docs/DATA_FORMATS_INPUT.md
  data_format = "value"
  data_type = "long" # required

[[inputs.exec]]
  ## Commands array
  commands = ["{{ freeton_node_scripts }}/ton-wallet-balance.sh"]

  ## override the default metric name of "exec"
  name_override = "ton-wallet-balance"

  ## Data format to consume.
  ## Each data format has its own unique set of configuration options, read
  ## more about them here:
  ##   https://github.com/influxdata/telegraf/blob/master/docs/DATA_FORMATS_INPUT.md
  data_format = "value"
  data_type = "long" # required
  
[[inputs.exec]]
  ## Commands array
  commands = ["{{ freeton_node_scripts }}/ton-wallet-transaction-count.sh"]

  ## override the default metric name of "exec"
  name_override = "ton-wallet-unsign-transaction-count"

  ## Data format to consume.
  ## Each data format has its own unique set of configuration options, read
  ## more about them here:
  ##   https://github.com/influxdata/telegraf/blob/master/docs/DATA_FORMATS_INPUT.md
  data_format = "value"
  data_type = "integer" # required

  
[[inputs.exec]]
  ## Commands array
  commands = ["{{ freeton_node_scripts }}/ton-node-participant-state.sh"]

  ## override the default metric name of "exec"
  name_override = "ton-node-participant-state"

  ## Data format to consume.
  ## Each data format has its own unique set of configuration options, read
  ## more about them here:
  ##   https://github.com/influxdata/telegraf/blob/master/docs/DATA_FORMATS_INPUT.md
  data_format = "value"
  data_type = "string" # required


[[inputs.exec]]
  ## Commands array
  commands = ["{{ freeton_node_scripts }}/ton-node-validate-current.sh"]

  ## override the default metric name of "exec"
  name_override = "ton-node-validate-current"

  ## Data format to consume.
  ## Each data format has its own unique set of configuration options, read
  ## more about them here:
  ##   https://github.com/influxdata/telegraf/blob/master/docs/DATA_FORMATS_INPUT.md
  data_format = "value"
  data_type = "string" # required

[[inputs.exec]]
  ## Commands array
  commands = ["{{ freeton_node_scripts }}/ton-node-validate-next.sh"]

  ## override the default metric name of "exec"
  name_override = "ton-node-validate-next"

  ## Data format to consume.
  ## Each data format has its own unique set of configuration options, read
  ## more about them here:
  ##   https://github.com/influxdata/telegraf/blob/master/docs/DATA_FORMATS_INPUT.md
  data_format = "value"
  data_type = "string" # required
