[Unit]
Description=Freeton node
Wants=network-online.target
After=network-online.target

[Service]
ExecStart={{ freeton_node_bin_dir }}/ton_node -c {{ freeton_node_config_dir }}/
ExecStop=/bin/kill -HUP $MAINPID
WorkingDirectory={{ freeton_node_work_dir }}
Restart=always
User={{ freeton_node_user }}
Group={{ freeton_node_group }}
StandardOutput=file:{{ freeton_node_log_dir }}/noded.log
StandardError=file:{{ freeton_node_log_dir }}/noded.err
LimitNOFILE=infinity
LimitNPROC=infinity

[Install]
WantedBy=multi-user.target