# more info in https://docs.rs/log4rs/1.0.0/log4rs/

# Scan this file for changes every 30 seconds
refresh_rate: 30 seconds

# write logs to file and rotate it.
appenders:
  rolling:
    kind: rolling_file
    encoder:
      pattern: "{d(%Y-%m-%d %H:%M:%S.%f)} {l} [{h({t})}] {I}: {m}{n}"
    path: {{ freeton_node_log_dir }}/node.log
    policy:
      kind: compound
      trigger:
        kind: size
        limit: 100 mb
      roller:
        kind: fixed_window
        pattern: {{ freeton_node_log_dir }}/node.{}.log
        count: 10
        base: 1

root:
# level can be: trace, debug, info, warn
# trace include all levels,
# debug include debug, info and warn levels,
# info  include info and warn
# warn  just warn level
  level: warn
  appenders:
    - rolling

loggers:
  # node messages
  ton_node:
    level: warn
  boot:
    level: info
  sync:
    level: info
  telemetry:
    level: error

  # adnl messages
  adnl:
    level: warn

  overlay:
    level: warn

  overlay_broadcast:
    level: warn

  rldp:
    level: warn

  dht:
    level: warn

  # block messages
  ton_block:
    level: error

  # block messages
  executor:
    level: error

  # tvm messages
  tvm:
    level: error

  librdkafka:
    level: error

  validator:
    level: info

  catchain:
    level: info

  validator_session:
    level: info